@tailwind base;
@tailwind components;
@tailwind utilities;

.bodi {
    overflow-x: clip;
}

.swiper-pagination-bullet {
    /* Atur posisi relatif terhadap container Swiper */
    position: absolute;
    /* Atur posisi masing-masing bullet pagination */
    top: 50%; /* Atur bullet berada di tengah vertikal */
    transform: translateY(-50%); /* Geser bullet ke posisi tengah secara vertikal */
    left: 10px; /* Atur jarak dari kiri */
  }  

@font-face {
    font-family: 'font title';
    src: url('../fonts/vivaldi.otf');
}

@font-face {
    font-family: 'font title 3';
    src: url('../fonts/Mondwest.otf');
}

@font-face {
    font-family: 'font title 2';
    src: url('../fonts/Helvetica.otf');
}

.helvetica {
    font-family: 'font title 2';
}

.vivaldi {
    font-family: 'font title';
}

.mondwest {
    font-family: 'font title 3';
}

.bold {
    font-weight: bold;
}

.dot-animate {
    animation: pulse 2s infinite; /* pulse adalah nama keyframes, 2s adalah durasi, infinite berarti animasi akan berulang tanpa henti */
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Skala awal dot */
    }
    50% {
        transform: scale(2); /* Skala tengah dot saat berdenyut */
    }
    100% {
        transform: scale(1); /* Kembali ke skala awal dot */
    }
}


.menu {
    position: absolute;
    top: 100px;
    right: 1%;
    background-color: white;
    padding: 1.5%;  
    padding-right: 100px;
    opacity: 0;
    transform: translateX(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    border-radius: 10%;
}

.menu ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.menu ul li {
    margin-bottom: 10px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

/* Show menu when hamburger button is clicked */
.menu.active {
    display: block;
    opacity: 1;
    z-index: 999;
    display: flex; /* Ensure menu is displayed as flex when active */
    flex-direction: column; /* Set flex direction to column when active */
    transform: translateX(0);
}

#hamburger-btn {
    position: relative;
    width: 40px;
    z-index: 1000;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}


.bar {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 6px;
    transition: transform 0.3s ease;
}

#hamburger-btn.open .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

#hamburger-btn.open .bar:nth-child(2) {
    transform: rotate(-45deg);
}
#hamburger-btn.open .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}