@tailwind base;
@tailwind components;
@tailwind utilities;

.bodi {
    overflow-x: clip;
}

.swiper-pagination-bullet {
    /* Atur posisi relatif terhadap container Swiper */
    position: absolute;
    /* Atur posisi masing-masing bullet pagination */
    top: 50%; /* Atur bullet berada di tengah vertikal */
    transform: translateY(-50%); /* Geser bullet ke posisi tengah secara vertikal */
    left: 10px; /* Atur jarak dari kiri */
  }  

@font-face {
    font-family: 'font title';
    src: url('../fonts/vivaldi.otf');
}

@font-face {
    font-family: 'font title 3';
    src: url('../fonts/Mondwest.otf');
}

@font-face {
    font-family: 'font title 2';
    src: url('../fonts/Helvetica.otf');
}

.helvetica {
    font-family: 'font title 2';
}

.vivaldi {
    font-family: 'font title';
}

.mondwest {
    font-family: 'font title 3';
}

.bold {
    font-weight: bold;
}

.dot-animate {
    animation: pulse 2s infinite; /* pulse adalah nama keyframes, 2s adalah durasi, infinite berarti animasi akan berulang tanpa henti */
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Skala awal dot */
    }
    50% {
        transform: scale(2); /* Skala tengah dot saat berdenyut */
    }
    100% {
        transform: scale(1); /* Kembali ke skala awal dot */
    }
}

.image-container {
    position: unset;
}

.iimage {
    height: unset;
}